<% layout("/layouts/boilerplate") %>

<div class="login">
  <div class="loginCard"> 
    <h1 class="cardHeader">Sign Up on WanderLust</h1>
    
    <form method="post" action="/signup" class="needs-validation" novalidate>
      
      <!-- Username -->
      <div class="form-group mb-3">
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa fa-user"></i>
          </span>
          <input
            name="username"
            id="username"
            type="text"
            class="form-control"
            placeholder="Username"
            required
          />
        </div>
      </div>

      <!-- Email -->
      <div class="form-group mb-3">
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa fa-envelope"></i>
          </span>
          <input
            name="email"
            id="email"
            type="email"
            class="form-control"
            placeholder="Email"
            required
          />
        </div>
      </div>

      <!-- Password -->
      <div class="form-group mb-3">
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa fa-lock"></i>
          </span>
          <input
            name="password"
            id="password"
            type="password"
            class="form-control"
            placeholder="Password"
            autocomplete="off"
            required
          />
        </div>
      </div>

      <button class="btn btn-success w-100 signup-btn" type="submit">Sign Up</button>
    </form>
  </div>
</div>
